{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
<center>
	<h1>Contact</h1>
	{% if msg %}
		<b><p style="color: red;">{{msg}}</p></b>
	{% endif %}
	<form name="contact" method="post" action="{% url 'contact' %}">
		{% csrf_token %}
		<table>
			<tr>
				<td>Name</td>
				<td><input type="text" name="name"></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="text" name="email"></td>
			</tr>
			<tr>
				<td>Mobile</td>
				<td><input type="text" name="mobile"></td>
			</tr>
			<tr>
				<td>Remarks</td>
				<td><textarea rows="5" cols="22" name="remarks"></textarea></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="submit" name="action" value="Submit" class="btn btn-primary">
				</td>
			</tr>
		</table>
	</form>
</center>
<h1>Recent Contacts</h1>
<h4>Total Contacts : {{total_contact}}</h4>
<hr>
{% for i in contacts %}
	Name : {{i.name}}<br>
	Remarks : {{i.remarks}}<br>
	<hr>
{% endfor %}
</body>
</html>
{% endblock %}